.scrolltop {
    position: fixed;
    top: 80%;
    right: 20px;
    color: #094D2B;
    z-index: 1000;
    transition: all 0.3s;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  transition: all 0.4s;
}
.headercolor{
    background-color: #fefefe;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  transition: all 0.4s;
}
.mask-logo {
  text-align: center;
}
.mask-logo_img {
    width: 85px;
    height: 50px;
    display: inline-block;
    background-color: #ffffff;
    -webkit-mask: url('../src/assets/frontimg/mask-log.png') no-repeat;
    mask: url('../src/assets/frontimg/mask-log.png') no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.mask-logo_text {
  color: #fefefe;
  margin: -4px 0;
}
.icon-size .mask-logo_img{
  width: 45px;
  height: 30px;
}
.icon-size .mask-logo_text{
  font-size: 16px;
}
.imgcolor {
  background-color: #094D2B;
}
.fontcolor {
  color: #094D2B !important;
}
.menu-toggle .bgcolor {
  background-color: #008443;
}
.text-white {
  transition: color 0.4s;
}
.menu-toggle {
  margin-right: 10px;
}
.menu-line {
  display: block;
  width: 32px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 8px;
  margin-top: 8px;
  transition: all 0.4s;
}
.menu-toggle:hover .menu-line{
background-color: #008443;
transition: all 0.4s;
}
.menu-toggle:hover .menu-line:nth-child(1){
  transform: translateX(-20%);
}
.menu-toggle:hover .menu-line:nth-child(3){
  transform: translateX(20%);
}
.menu-popup {
  display: inline-block;
  position: fixed;
  width: 0%;
  height: 100%;
  background-color: #fff;
  transition: all 0.4s;
  z-index: 1000;
}
.popupClose.menu-popup {
  width: 300px;
  transition: all 0.4s;
  box-shadow: 2px 0 3px -1px rgba(0,0,0,0.5);
}
.popupClose .popup-close {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #fefefe;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  text-decoration: none;
  transition: all 0.4s;
}
.popup-close {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #fefefe;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  transition: all 0.4s;
}
.menu-close {
  display: none;
  visibility: hidden;
}
.popupClose .menu-close:hover {
  color: #008443;
}
.popupClose .menu-close {
  display: block;
  text-align: center;
  font-size: 40px;
  padding-top: 10px;
  color: #000;
  visibility: visible;
  transition: all 0.4s;
}
.menu-side {
  visibility: hidden;
  text-align: center;
  opacity: 0;
  transition: all 0.4s;
}
.popupClose .menu-side {
  list-style: none;
  text-align: center;
  opacity: 1;
  transition: all 0.4s;
  visibility: visible;
}
.menu-title {
  color: #000;
  transition: all 0.4s;
}
.menu-title:hover {
  color: #008443;
  text-decoration: none;
  transition: all 0.4s;
}
.nav-text-color:hover {
  color: #008443 !important;
  transition: color 0.4s;
}
.modal-cart {
  position: fixed;
  top: 70px;
  right: 250px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 4px 6px 5px rgba(0, 0, 0, 0.2);
  visibility: hidden;
}
.modal-cart_item {
  display: block;
  max-height: 16vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.opacity-cart {
  visibility: visible;
}
.modal-favorite {
  position: absolute;
  top: 70px;
  right: 140px;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 4px 6px 5px rgba(0, 0, 0, 0.2);
  visibility: hidden;
}
.modal-favorite_item {
  display: block;
  max-height: 25vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.productimg {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: cover;
}
.opacity-favorite {
  visibility: visible;
}
.product-quantity {
  float: right;
  width: 15px;
  text-align: center;
  padding: 1px;
  color: #fff;
  border-radius: 7.5px;
  transform: translate(3px, -5px);
}
.favorite-quantity {
  float: right;
  width: 15px;
  text-align: center;
  padding: 1px;
  color: #fff;
  border-radius: 7.5px;
  transform: translate(3px, -5px);
}
/* icon */
.icon-size {
  font-size: 12px;
}