  .conpon-bg {
    width: 100%;
    height: 250px;
    background-image: url("../src/assets/frontbgimg/News.jpg");
    background-position: 50% 35%;
    background-size: cover;
    z-index: -10;
  }
  .conpon-bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 250px;
    background: linear-gradient(360deg, #70b594 69%, #1c1c1c 100%);
    background: -moz-linear-gradient(360deg, #70b594 69%, #1c1c1c 100%);
    background: -webkit-linear-gradient(360deg, #70b594 69%, #1c1c1c 100%);
    background: -o-linear-gradient(360deg, #70b594 69%, #1c1c1c 100%);
    opacity: 0.3;
  }
  .coupon-img {
    width: 100%;
    height: 350px;
    background-image: url("../src/assets/frontimg/discountImage.jpg");
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
  }
  .couponcode {
    font-size: 120px;
    text-align: center;
  }
  .coupon-shadow {
    text-shadow: black 0.1em 0.1em 0.1em;
  }
  @media (max-width: 576px) {
    .couponcode {
      font-size: 60px;
    }
    .couponcode-title {
      padding-left: 0;
      text-align: center;
    }
    .Coupon {
      font-size: 24px;
    }
  }