  .order-title {
    position: relative;
  }
  .order-title:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0 45%;
    transform: translate(-50%, -50%);
    height: 5px;
    background-color: #008443;
    z-index: -5;
  }
.order-process {
    height: 50px;
    line-height: 45px;
  }
  .process {
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 50%;
  }
  .process-line {
    height: 5px;
  }