.order-process {
    border-radius: 10px;
    width: 30%;
    padding: 5px;
    margin: 5px 0;
    color: #fff;
    font-size: 24px;
    line-height: 45px;
    text-align: center;
    font-weight: 900;
  }
  .order-title {
    padding: 15px;
  }
  .process-now-color {
    background-color: #008443;
  }
  .process-undone-color {
    background-color: #306136;
  }