.productIn-bg {
    width: 100%;
    height: 100px;
    background-image: url("../src/assets/frontbgimg/porductinfor.jpg");
    background-position: center;
    background-size: cover;
    z-index: -10;
  }
  .productIn-bg:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(360deg, #70b594 69%, #1c1c1c 100%);
    background: -moz-linear-gradient(360deg, #70b594 69%, #1c1c1c 100%);
    background: -webkit-linear-gradient(360deg, #70b594 69%, #1c1c1c 100%);
    background: -o-linear-gradient(360deg, #70b594 69%, #1c1c1c 100%);
    opacity: 0.6;
  }
  .bottom-line {
    border-bottom: solid #8bcc8c 1px;
  }
  .product-list {
    margin-bottom: 10px;
  }