  /* Background-gradient */
  @mixin bg-gradient() {
    background: linear-gradient(360deg, #1c1c1c 69%, #1c1c1c 100%);
    background: -moz-linear-gradient(360deg, #1c1c1c 69%, #1c1c1c 100%);
    background: -webkit-linear-gradient(360deg, #1c1c1c 69%, #1c1c1c 100%);
    background: -o-linear-gradient(360deg, #1c1c1c 69%, #1c1c1c 100%);
  }
  /* Font-size */
  .text-lg {
    font-size: 80px;
  }
  .text-md {
    font-size: 56px;
  }
  .text-sm {
    font-size: 48px;
  }
  /* Font-color */
  .current-color {
    color: #00381c;
  }
  /* Font-style */
  .text-style {
    font-style: normal;
  }
  /* Mouse */
  .omouse {
    cursor: pointer;
  }
  /* Textarea */
  .form_textarea {
    resize: none;
  }
  /* Input-number */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
  /* Page */
.page-expand {
  margin-bottom: 180px;
}
/* border */
.border-none {
  border: none !important;
}
